
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 142rem;
}.desktop-1-xG4 {
  background-color: #ffffff;
  width: 100%;
  height: 113rem;
  position: relative;
  overflow: hidden;

  .whatsappimage2024-03-10at1136-1-jw2 {
    position: absolute;
    left: 67.8rem;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 63.4rem;
    height: 116.5rem;
  }
  .rectangle-1-DLQ {
    width: 14.4rem;
    height: 4.2rem;
    position: absolute;
    left: 107rem;
    top: 4.1rem;
    background-color: #f1da0b;
    border-radius: 0.9rem;
  }
  .connect-wallet-6uz {
    position: absolute;
    left: 109.3rem;
    font-size: 1.4rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 10.4rem;
    height: 1.7rem;
    top: 5.4rem;
    font-weight: 600;
  }
  .rectangle-1-xhJ {
    height: 4.2rem;
    position: absolute;
    left: 6.7rem;
    top: 47rem;
    background-color: #000000;
    border-radius: 0.9rem;
    width: 13.6rem;
  }
  .rectangle-2-tax {
    width: 2.6rem;
    height: 1.7rem;
    position: absolute;
    left: 68.5rem;
    top: 6.2rem;
    background-color: #f1da0b;
    border-radius: 0.5rem;
  }
  .pro-RKz {
    font-family: Inter, 'Source Sans Pro';
    width: 2.1rem;
    height: 1.3rem;
    position: absolute;
    left: 68.8rem;
    font-size: 1rem;
    color: #000000;
    top: 6.4rem;
    font-weight: 700;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .download-icon-png-4392-1-7Ti {
    vertical-align: top;
    border-radius: 3.55rem;
    width: 3.2rem;
    height: 2.9rem;
    position: absolute;
    left: 122.7rem;
    top: 4.6rem;
    object-fit: cover;
  }
  .explore-now-aMJ {
    position: absolute;
    left: 8.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 9.7rem;
    height: 2rem;
    top: 48rem;
    white-space: nowrap;
  }
  .watch-videos-5or {
    position: absolute;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 10.8rem;
    height: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    left: 25.8rem;
    top: 48.3rem;
  }
  .group-9-mgg {
    left: 4.3rem;
    top: 3.2rem;
    display: flex;
    align-items: center;
    width: 64.1rem;
    height: 7.6rem;
    position: absolute;

    .logo-1-wd6 {
      width: 5rem;
      height: 7.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .nfts-gKn {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.1rem 7.7rem 0rem 0rem;
      font-size: 2rem;
      line-height: 1.2125;
    }
    .discover-m6L {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 6.6rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #7c7c7c;
    }
    .how-it-works-gUC {
      line-height: 1.2125;
      color: #7c7c7c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 6.5rem 0.1rem 0rem;
      font-size: 2rem;
      font-weight: 500;
    }
    .marketplace-ChS {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2125;
    }
  }
  .discover-digital-artwork-collect-best-nfts-8qz {
    left: 7rem;
    font-size: 5.6rem;
    line-height: 1.2102272851;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 21rem;
    position: absolute;
    width: 43.9rem;
    top: 13.9rem;

    .discover-digital-artwork-collect-best-nfts-8qz-sub-0 {
      line-height: 1.25;
      color: #7c7c7c;
      font-family: Encode Sans, 'Source Sans Pro';
      font-size: 5.6rem;
      font-weight: 300;
    }
    .discover-digital-artwork-collect-best-nfts-8qz-sub-1 {
      font-weight: 700;
      line-height: 1.25;
      color: #000000;
      font-family: Encode Sans, 'Source Sans Pro';
      font-size: 5.6rem;
    }
    .discover-digital-artwork-collect-best-nfts-8qz-sub-2 {
      font-size: 5.6rem;
      font-weight: 500;
      line-height: 1.25;
      color: #000000;
      font-family: Encode Sans, 'Source Sans Pro';
    }
    .discover-digital-artwork-collect-best-nfts-8qz-sub-3 {
      font-size: 5.6rem;
      font-weight: 700;
      line-height: 1.25;
      color: #000000;
      font-family: Encode Sans, 'Source Sans Pro';
    }
    .discover-digital-artwork-collect-best-nfts-8qz-sub-4 {
      font-size: 5.6rem;
      font-weight: 300;
      line-height: 1.25;
      color: #7c7c7c;
      font-family: Encode Sans, 'Source Sans Pro';
    }
  }
  .there-is-enough-digital-artworks-available-online-to-help-you-put-together-crypto-currency-website-JpL {
    width: 55.5rem;
    left: 7rem;
    font-size: 2.2rem;
    font-family: Encode Sans, 'Source Sans Pro';
    height: 6.8rem;
    position: absolute;
    top: 37.1rem;
    font-weight: 500;
    line-height: 1.5454545455;
    color: #7c7c7c;
  }
  .play-button5972640-1-aWx {
    object-fit: cover;
    vertical-align: top;
    width: 3.6rem;
    height: 3.7rem;
    position: absolute;
    left: 21.9rem;
    top: 47.2rem;
  }
  .real-bestia-nft-1-W9i {
    object-fit: cover;
    vertical-align: top;
    border-radius: 20rem;
    width: 7.9rem;
    height: 7.9rem;
    position: absolute;
    left: 48.3rem;
    top: 78.2rem;
  }
  .prime-ape-planet-pap-nfts-E5i {
    width: 37.5rem;
    position: absolute;
    top: 91.15rem;
    color: #7c7c7c;
    height: 3.4rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    justify-content: center;
    font-size: 2.8rem;
    font-weight: 400;
    white-space: nowrap;
    left: 69.6rem;
    display: flex;
    align-items: center;
    font-style: italic;
  }
  .line-1-JLU {
    background-color: #7c7c7c;
    width: 82.001rem;
    height: 0.1rem;
    position: absolute;
    left: 46.4995rem;
    top: 77.5rem;
  }
  .line-2-dde {
    background-color: #7c7c7c;
    width: 82.001rem;
    height: 0.1rem;
    position: absolute;
    left: 46.5rem;
    top: 86.8rem;
  }
  .real-bestia-nfts-yBi {
    width: 21.4rem;
    display: flex;
    color: #7c7c7c;
    white-space: nowrap;
    left: 57.8rem;
    top: 80.45rem;
    justify-content: center;
    font-size: 2.8rem;
    font-style: italic;
    position: absolute;
    line-height: 1.2125;
    height: 3.4rem;
    align-items: center;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
  }
  .whatsappimage2024-03-10at1121-1-4yr {
    height: 32.8rem;
    position: absolute;
    left: 8.4rem;
    top: 62.3rem;
    object-fit: cover;
    vertical-align: top;
    width: 30.5rem;
  }
  .item-4-1-BHn {
    left: 60.9rem;
    top: 88.6rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 20rem;
    width: 7.3rem;
    height: 7.7rem;
    position: absolute;
  }
  .maxime-manga-nfts-6Qk {
    justify-content: center;
    font-size: 2.8rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 26.9rem;
    position: absolute;
    top: 80.45rem;
    height: 3.4rem;
    left: 96.75rem;
    align-items: center;
    display: flex;
    font-style: italic;
  }
  .qmyv9kktz6wy2t7gwz5jzddleteawyknam9ntuvhibeugp-1-N7N {
    position: absolute;
    left: 86.7rem;
    top: 78rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 102.4rem;
    width: 8.2rem;
    height: 8.3rem;
  }
  .popular-artwork-fMN {
    line-height: 1.2;
    letter-spacing: 0.588rem;
    justify-content: center;
    font-size: 2.8rem;
    font-weight: 700;
    font-family: Aleo, 'Source Sans Pro';
    height: 3.4rem;
    display: flex;
    white-space: nowrap;
    width: 31.5rem;
    color: #000000;
    top: 56.6rem;
    align-items: center;
    position: absolute;
    left: 10.85rem;
  }
  .swirl-arrow-bottom-right-icon-removebg-preview-1-9nL {
    left: 44.3rem;
    top: 59.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 13.2rem;
    height: 11.1rem;
    position: absolute;
  }
}
