
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 142rem;
}.desktop-1-xG4 {
  width: 100%;
  height: 113rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.desktop-1-xG4 .whatsappimage2024-03-10at1136-1-jw2 {
  width: 63.4rem;
  height: 116.5rem;
  position: absolute;
  left: 67.8rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-xG4 .rectangle-1-DLQ {
  width: 14.4rem;
  height: 4.2rem;
  position: absolute;
  left: 107rem;
  top: 4.1rem;
  background-color: #f1da0b;
  border-radius: 0.9rem;
}
.desktop-1-xG4 .connect-wallet-6uz {
  width: 10.4rem;
  height: 1.7rem;
  position: absolute;
  left: 109.3rem;
  top: 5.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xG4 .rectangle-1-xhJ {
  width: 13.6rem;
  height: 4.2rem;
  position: absolute;
  left: 6.7rem;
  top: 47rem;
  background-color: #000000;
  border-radius: 0.9rem;
}
.desktop-1-xG4 .rectangle-2-tax {
  width: 2.6rem;
  height: 1.7rem;
  position: absolute;
  left: 68.5rem;
  top: 6.2rem;
  background-color: #f1da0b;
  border-radius: 0.5rem;
}
.desktop-1-xG4 .pro-RKz {
  width: 2.1rem;
  height: 1.3rem;
  position: absolute;
  left: 68.8rem;
  top: 6.4rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xG4 .download-icon-png-4392-1-7Ti {
  width: 3.2rem;
  height: 2.9rem;
  position: absolute;
  left: 122.7rem;
  top: 4.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3.55rem;
}
.desktop-1-xG4 .explore-now-aMJ {
  width: 9.7rem;
  height: 2rem;
  position: absolute;
  left: 8.5rem;
  top: 48rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xG4 .watch-videos-5or {
  width: 10.8rem;
  height: 2rem;
  position: absolute;
  left: 25.8rem;
  top: 48.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xG4 .group-9-mgg {
  width: 64.1rem;
  height: 7.6rem;
  position: absolute;
  left: 4.3rem;
  top: 3.2rem;
  display: flex;
  align-items: center;
}
.desktop-1-xG4 .group-9-mgg .logo-1-wd6 {
  width: 5rem;
  height: 7.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-1-xG4 .group-9-mgg .nfts-gKn {
  margin: 0.1rem 7.7rem 0rem 0rem;
  font-size: 2rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-xG4 .group-9-mgg .discover-m6L {
  margin: 0rem 6.6rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #7c7c7c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-xG4 .group-9-mgg .how-it-works-gUC {
  margin: 0rem 6.5rem 0.1rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #7c7c7c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-xG4 .group-9-mgg .marketplace-ChS {
  margin-bottom: 0.1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-xG4 .discover-digital-artwork-collect-best-nfts-8qz {
  width: 43.9rem;
  height: 21rem;
  position: absolute;
  left: 7rem;
  top: 13.9rem;
  font-size: 5.6rem;
  line-height: 1.2102272851;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-xG4 .discover-digital-artwork-collect-best-nfts-8qz .discover-digital-artwork-collect-best-nfts-8qz-sub-0 {
  font-size: 5.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #7c7c7c;
  font-family: Encode Sans, 'Source Sans Pro';
}
.desktop-1-xG4 .discover-digital-artwork-collect-best-nfts-8qz .discover-digital-artwork-collect-best-nfts-8qz-sub-1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Encode Sans, 'Source Sans Pro';
}
.desktop-1-xG4 .discover-digital-artwork-collect-best-nfts-8qz .discover-digital-artwork-collect-best-nfts-8qz-sub-2 {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.25;
  color: #000000;
  font-family: Encode Sans, 'Source Sans Pro';
}
.desktop-1-xG4 .discover-digital-artwork-collect-best-nfts-8qz .discover-digital-artwork-collect-best-nfts-8qz-sub-3 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
  font-family: Encode Sans, 'Source Sans Pro';
}
.desktop-1-xG4 .discover-digital-artwork-collect-best-nfts-8qz .discover-digital-artwork-collect-best-nfts-8qz-sub-4 {
  font-size: 5.6rem;
  font-weight: 300;
  line-height: 1.25;
  color: #7c7c7c;
  font-family: Encode Sans, 'Source Sans Pro';
}
.desktop-1-xG4 .there-is-enough-digital-artworks-available-online-to-help-you-put-together-crypto-currency-website-JpL {
  width: 55.5rem;
  height: 6.8rem;
  position: absolute;
  left: 7rem;
  top: 37.1rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5454545455;
  color: #7c7c7c;
  font-family: Encode Sans, 'Source Sans Pro';
}
.desktop-1-xG4 .play-button5972640-1-aWx {
  width: 3.6rem;
  height: 3.7rem;
  position: absolute;
  left: 21.9rem;
  top: 47.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-xG4 .real-bestia-nft-1-W9i {
  width: 7.9rem;
  height: 7.9rem;
  position: absolute;
  left: 48.3rem;
  top: 78.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 20rem;
}
.desktop-1-xG4 .prime-ape-planet-pap-nfts-E5i {
  width: 37.5rem;
  height: 3.4rem;
  position: absolute;
  left: 69.6rem;
  top: 91.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #7c7c7c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xG4 .line-1-JLU {
  width: 82.001rem;
  height: 0.1rem;
  position: absolute;
  left: 46.4995rem;
  top: 77.5rem;
  background-color: #7c7c7c;
}
.desktop-1-xG4 .line-2-dde {
  width: 82.001rem;
  height: 0.1rem;
  position: absolute;
  left: 46.5rem;
  top: 86.8rem;
  background-color: #7c7c7c;
}
.desktop-1-xG4 .real-bestia-nfts-yBi {
  width: 21.4rem;
  height: 3.4rem;
  position: absolute;
  left: 57.8rem;
  top: 80.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #7c7c7c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xG4 .whatsappimage2024-03-10at1121-1-4yr {
  width: 30.5rem;
  height: 32.8rem;
  position: absolute;
  left: 8.4rem;
  top: 62.3rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-xG4 .item-4-1-BHn {
  width: 7.3rem;
  height: 7.7rem;
  position: absolute;
  left: 60.9rem;
  top: 88.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 20rem;
}
.desktop-1-xG4 .maxime-manga-nfts-6Qk {
  width: 26.9rem;
  height: 3.4rem;
  position: absolute;
  left: 96.75rem;
  top: 80.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xG4 .qmyv9kktz6wy2t7gwz5jzddleteawyknam9ntuvhibeugp-1-N7N {
  width: 8.2rem;
  height: 8.3rem;
  position: absolute;
  left: 86.7rem;
  top: 78rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 102.4rem;
}
.desktop-1-xG4 .popular-artwork-fMN {
  width: 31.5rem;
  height: 3.4rem;
  position: absolute;
  left: 10.85rem;
  top: 56.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.588rem;
  color: #000000;
  font-family: Aleo, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-xG4 .swirl-arrow-bottom-right-icon-removebg-preview-1-9nL {
  width: 13.2rem;
  height: 11.1rem;
  position: absolute;
  left: 44.3rem;
  top: 59.7rem;
  object-fit: cover;
  vertical-align: top;
}
